.card{
    display: flex;
}
.card__containment{

}
.containment{
    display: flex;
    min-width: 448px;
    height: 176px;
    background: rgba(237, 221, 220, 0.15);
    align-items: center;
    margin-right: 32px;
    border-radius: 8px;
}
.containment__box{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}
.box{

}
.box__link{
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.containment__picture{
    width: 112px;
    height: 112px;
    border-radius: 8px;
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containment__picture--orange{
    background: rgb(255, 159, 28);
}
.containment__picture--cyan{
    background: #28afb0;
}
.containment__picture--red{
    background: #fb2a43;
}
.containment__picture--circle{
    margin: 0;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50%;
}
.link{
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-size: 16px;
    link: 24px;
}
.link__break{
    width: 0;
    height: 24px;
    border: 1px solid rgba(237, 221, 220, .2);
    margin-right: 16px;
}

.link__icon{
    margin-right: 11px;
}