@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');
.base{
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    max-width: 1920px;
    max-height: 1080px;
    margin-left: 336px;
    background-image: url("../../../image/icon/ellispe.svg");
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: #eddddc;
}