.contact{
    display: flex;

    margin-bottom: 24px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.contact__communication{
    margin-bottom: 0;
    margin-right: 10px;
}
.contact__linked--icon{

}