.main__scroll{
    height: 128px;
    display: flex;
    align-items: center;
}
.scroll__line{
    width: 1136px;
    height: 0;
    border: 1px solid rgba(237, 221, 220, .2);
}
.scroll__pointer{
    display: flex;
}
.pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border: 1px solid rgba(237, 221, 220, .2);
    border-radius: 50%;
    margin-left: 8px;
}
