.annotation{
    display: flex;
    margin-top: 64px;
}
.annotation__block{

}
.block{

}
.block__title{
    font-size: 32px;
    line-height: 48px;
}
.block--text{
    margin-left: 50px;
}
.desc{

}
.desc__part{
    width: 377px;
}
.desc__shell{
    width: fit-content;
    padding: 0 8px;
    background: rgba(237, 221, 220, .1);
    border-radius: 4px;
}
.desc--certificate{
    margin-top: 16px;
}
.desc--section{
    margin-top: 16px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.line{
    display: flex;
    align-content: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color:  rgba(237, 221, 220, 1);
}
.line__picture{
    margin-right: 12px;
}
