.header{
    display: flex;
    margin-top: 64px;
}
.header__contact{

}
.header__main-title{
    margin-left: 211px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.header__profile{

}